.main-view h1 {
    margin: 0;
    padding: 16px;
    width: 100%;
}

.main-view h2 {
    margin: 0;
    padding: 16px;
    width: 100%;
}
.main-view h3 {
    margin: 0;
    padding: 16px;
    width: 100%;
}

.message-list {
    overflow-y: scroll;
    width: 100%;
}

.message-list div {
    width: 25%;
    background: #445ff5;
    font-size: 16px;
    color: white;
}